
<h1>这是新建文章页面</h1>

<%= render :partial => "form" %>

<script>
	$("#form").validate({
		rules:{
      "article[title]":{
        "required": true,
      },
		},
		messages:{
			"article[title]":"请输入id",
		}
	});
</script>
