
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<%= render :partial => "header" %>

<div id="container" style="min-width: 310px; height: 400px; margin: 10% auto"></div>

<%= render :partial => "footer" %>

<script>
$(function () {
    Highcharts.chart('container', {
        title: {
            text: '每日访问统计',
            x: -20 //center
        },
        xAxis: {
							categories: [ <%= raw @x_axis %>]
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
					{
            name: 'daily pv',
            data: [ <%= @daily_pvs %> ]
        	}
				]
    });
});
</script>
