<!--后台分类的编辑页面-->
<h1>this is classificates edit page</h1>
<%= form_for @classificate ,url:classificate_path(@classificate),mathod: :patch do |f| %>
  <%= f.text_field :id %>
  <%= f.text_field :fenlei %>
  <%= f.submit "提交" %>
<% end %>










