<!--后台分类的编辑页面-->
<%= form_for @classificate ,url:classificate_path(@classificate), :html => { :style => "margin-top:10%;"  }  , mathod: :patch do |f| %>
  <p style="font-weight:bold; font-size:18px;">ID:</p>

  <p>
    <%= f.text_field :id %>
  </p>

  <p style="font-weight:bold; font-size:18px;">分类:</p>

  <p>
    <%= f.text_field :fenlei %>
  </p>

  <p style="font-weight:bold; font-size:18px;">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </p>

<% end %>










