<h1>这是分类新建页面</h1>

<%= form_for @classificate ,url: classificates_path, :html =>{:id => "my_form"} do |f| %>
  <%= f.text_field :id, placeholder:"请输入id,要大于#{ Classificate.last.id }" %> <br/>
  <%= f.text_field :fenlei, placeholder:"请输入新分类的名称" %> <br/>
  <%= f.submit "提交" , class:"btn btn-primary" %>
<% end %>

<style>
	input.error { border: 1px solid red; }
	label.error {
	  color: #EA5200;
	}
	label.checked {
	}
</style>

<script>
	$("#my_form").validate({
		rules:{
      "classificate[id]":{
        "required": true,
      // "min":
      },
			"classificate[fenlei]": "required"
		},
		messages:{
			"classificate[id]":"请输入id",
			"classificate[fenlei]":"请输入分类"
		}
	});
</script>
