  <table class="table table-reverse" style="margin-top:10%; font-weight:bold; font-size:18px;">
    <tr>
      <th style="font-weight:bold;">ID:</th>
      <th style="font-weight:bold;">FenLei:</th>
    </tr>
    <tr>
      <td><%= @classificate.id %></td>
      <td><%= @classificate.fenlei %></td>
    </tr>
  </table>

<%= link_to "返回", classificates_path, class:"btn btn-primary", style:"float:right;" %>
